<!DOCTYPE HTML>
<html>
  <head>
    <meta name="viewport" content="width=default-width; user-scalable=no" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>iStyle</title>
	{{- mash("common", "css", debug) }}
  </head>
  <body>
	  <div id="PageContainer">
		  <div class="Page">
			  <header>
				  <h1>Page Title</h1>
				  <button class="left">Left</button>
				  <button class="right">Right</button>
			  </header>
			  <ul class="List">
				  <li>Test</li>
			  </ul>
			  <footer>
				footer
			  </footer>
		  </div>
	  </div>

	  {{- mash("common", "js", debug) }}
  </body>
</html>
