!!! 5
html(lang="en")
  head
    title iStyle
    meta(name="viewport", content="width = device-width, initial-scale = 1.0, user-scalable = no, maximum-scale = 1.0")
    link(rel="stylesheet",href="istyle.css")
  body
    .Page
      header
        h1 Page Title
        button.left Left
        button.right Right
      section#wrapper(role='content')
        ul.List
          li Test 1 <br>woot
          li Test 2
          li Test 4
          li Test 5
          li Test 6
          li Test 6
          li Test 6
          li Test 6
          li Test 6
          li Test 6
          li Test 6
          li Test 6
          li Test 6
      footer Footer
    script(src="iscroll-lite.js")
    script
      new iScroll("wrapper"); 
